// variables/_variables.scss
// Colors
$color-black: black;
$color-chocolate: chocolate;
$color-darkgreen: darkgreen;
$color-whitesmoke: whitesmoke;
$color-gray-light: #f8f9fa;
$color-blue: #007bff;
// Define shades of light gray
$light-gray-1: #f2f2f2;
$light-gray-2: #e6e6e6;
$light-gray-3: #d9d9d9;
$light-gray-4: #cccccc;
$light-gray-5: #bfbfbf;
// Define shades of light blue
$light-blue-1: #d5e9f2;
$light-blue-2: #afd8e6;
$light-blue-3: #89c6da;
$light-blue-4: #62b5ce;
$light-blue-5: #3c9ec2;
// Font sizes
$font-size-title: 60px;
$font-size-subtitle: 40px;
$font-size-paragraph: 20px;
// Define body background and text color
$body-background: $light-gray-1;
$text-color: #333;

// Define header and footer background colors
$primary-color: $light-gray-4;

// Define button and card background colors
$secondary-color: $light-blue-5;
$card-background: white;

