// components/_buttons.scss
.button {
    background-color: beige;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .calculator-container {
    max-width: 340px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e6ebf2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.calculator input {
    grid-column: span 4;
    padding: 15px;
    font-size: 1.8rem;
    text-align: right;
    border-radius: 5px;
    border: 1px solid #bbb;
    background-color: #f4f4f4;
    margin-bottom: 10px;
}
.calculator .btn {
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.calculator .btn:hover {
    background-color: #d1d5da;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.calculator .btn.clear {
    grid-column: span 2;
    background-color: #e74c3c;
    color: white;
}

.calculator .btn.clear:hover {
    background-color: #c0392b;
}

.calculator .btn.operation {
    background-color: #5d7ba0;
    color: white;
}

.calculator .btn.operation:hover {
    background-color: #436588;
}

.calculator .btn.equals {
    grid-column: span 2;
    background-color: #3498db;
    color: white;
}

.calculator .btn.equals:hover {
    background-color: #2980b9;
}

